<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tbtekber">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Intent.CariEvent3"></activity>
        <activity android:name=".DaftarEvent.Event8Activity" />
        <activity android:name=".Intent.Home4" />
        <activity android:name=".Intent.CariEvent2" />
        <activity android:name=".DaftarEvent.Event7Activity" />
        <activity android:name=".Intent.Profil2" />
        <activity android:name=".Intent.Home3" />
        <activity android:name=".Intent.Home2" />
        <activity android:name=".Transaksi.Bayar2Activity" />
        <activity android:name=".PremiumActivity" />
        <activity android:name=".PilihDaftarEvent" />
        <activity android:name=".Transaksi.BayarActivity" />
        <activity android:name=".Transaksi.BeliTiketActivity" />
        <activity android:name=".Profil.HubungiKamiActivity" />
        <activity android:name=".Profil.UbahPassword" />
        <activity android:name=".Profil.UbahEmail" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".PendaftaranEvent" />
        <activity android:name=".DaftarEvent.Event6Activity" />
        <activity android:name=".DaftarEvent.Event5Activity" />
        <activity android:name=".DaftarEvent.Event4Activity" />
        <activity android:name=".DaftarEvent.Event3Activity" />
        <activity android:name=".DaftarEvent.Event2Activity" />
        <activity android:name=".DaftarEvent.Event1Activity" />
        <activity android:name=".CariEventActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>