<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tbtekber">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profil.HubungiKamiActivity"
            android:label="@string/kembali"
            android:parentActivityName=".ProfilActivity"
            android:theme="@style/Theme"></activity>
        <activity android:name=".Profil.UbahPassword"
            android:label="@string/kembali"
            android:parentActivityName=".ProfilActivity"
            android:theme="@style/Theme"/>
        <activity android:name=".Profil.UbahEmail"
            android:label="@string/kembali"
            android:parentActivityName=".ProfilActivity"
            android:theme="@style/Theme"/>
        <activity android:name=".ProfilActivity"
            android:label="@string/kembali"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme"/>
        <activity
            android:name=".PendaftaranEvent"
            android:label="@string/kembali"
            android:parentActivityName=".CariEventActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".DaftarEvent.Event6Activity"
            android:label="@string/kembali"
            android:parentActivityName=".CariEventActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".DaftarEvent.Event5Activity"
            android:label="@string/kembali"
            android:parentActivityName=".CariEventActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".DaftarEvent.Event4Activity"
            android:label="@string/kembali"
            android:parentActivityName=".CariEventActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".DaftarEvent.Event3Activity"
            android:label="@string/kembali"
            android:parentActivityName=".CariEventActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".DaftarEvent.Event2Activity"
            android:label="@string/kembali"
            android:parentActivityName=".CariEventActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".DaftarEvent.Event1Activity"
            android:label="@string/kembali"
            android:parentActivityName=".CariEventActivity"
            android:theme="@style/Theme" />
        <activity
            android:name=".CariEventActivity"
            android:label="@string/kembali"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>